<openerp>
	<data>
		    <menuitem icon="terp-network" id="menu_network"
                  name="Network" sequence="49"
                  web_icon="images/network.png"
                  web_icon_hover="images/network-web-hover.png"/>
                       
            <menuitem id="menu_network_config_network" name="Network"
            		parent="menu_network" sequence="3"/>
            		         
            <menuitem id="posix.menu_system" name="System" parent="menu_network" sequence="4"/>
                        
            <menuitem id="menu_network_config_network_unit" name="Unit" parent="menu_network" sequence="1"/>    
            <menuitem id="menu_network_config_network_service" name="Service" parent="menu_network" sequence="2"/>               
            <menuitem id="menu_network_config_network_configuration" name="Configuration" parent="menu_network" sequence="99"/>          
            <menuitem id="menu_network_config_network_configuration_service" name="Service" parent="menu_network_config_network_configuration" sequence="2"/>  
            <menuitem id="menu_network_config_network_network" name="Network" parent="menu_network_config_network_configuration" sequence="1"/>                                    
            <menuitem id="menu_network_config_network_network_wlan" name="WLAN" parent="menu_network_config_network_network" sequence="1"/> 
		       
	</data>
</openerp>