<openerp>
	<data>
	
	   <menuitem
            icon="terp-project" id="menu_project"
            name="Customer Projects" sequence="10"
            groups="group_project"
            action="open_project_ticket_area"
            web_icon="images/project.png"
           	web_icon_hover="images/project-hover.png"/>
       
       <menuitem action="open_project_area" icon="terp-graph" id="menu_board_project_area"
       		parent="menu_project" sequence="5"/>
       		
       	       
       <menuitem action="action_view_task" id="menu_task_all" parent="menu_project" sequence="3"/>
       <menuitem action="action_view_project_all" id="menu_project_all" parent="menu_project" sequence="1"/>     
       <menuitem action="action_project_issue" id="menu_project_issue" name="Tickets" parent="menu_project" sequence="4" /> 
       <menuitem action="open_project_ticket_area" icon="terp-graph" id="menu_project_log_report"  parent="menu_project" sequence="6" />	
       <menuitem id="menu_timesheet" name="Hour Overview" parent="menu_project" sequence="99"
        		  action="action_timesheet_line"/>			
	</data>
</openerp>